@font-normal: 12px;
@font-middle: 14px;
@font-big: 16px;
@font-huge: 18px;

@navbg : #595959;
@org : #fc8e0e;

@import "bootstrap.css";
@import "less/kelvin.less";


p {
	font-size: 16px;
	color: #595959;
	line-height: 28px;
}
html,body {
	height: 100%;
	font-size: @font-normal;
	font-family: 'Microsoft Yahei';
	font-weight: normal;
}
body {
	position: relative;
	.b("../img/bg.jpg",repeat,center,center);
	&.homepage {
		overflow: hidden;
		.header {
			.tl(0%);
			position: fixed;
		}
		.body {
			.tl(100%);
		}
	}
}
.header {
	.tram();
	.tl(-100%);
	.wh(100%,100%);
	.b("../img/bg-head.jpg",no-repeat,center,center);
	background-size: cover;
	position: fixed;
	z-index: 1000;
	.header-bar {
		.wh(500px,100%);
		text-align: center;
		background-color: rgba(0,0,0,0.6);
		.mp();
		.header-logo {
			height: 33%;
			padding-top: 15%;
			img {

			}
		}
		ul {
			.mp();
			height: 33%;
			li {
				display: inline-block;
				.wh(32%);
				padding:20px 0px;
				line-height: 22px;
				font-size: @font-big;
				a {
					color: #fff;
				}
			}
		}
		.btn-first {
			// margin-top: 10px;
			padding:20px 40px;
			font-size: @font-normal;
			color: #fff;
			border-radius: 5px;
			background: #fc8e0e;
		}
	}
}
.body {
	.tram();
	.tl(0%);
	.wh(100%,100%);
}
.nav {
	background-color: @navbg;
	padding:10px 0px;
	border-bottom: 1px solid @org;
	ul {
		.mp();
		text-align: center;
		line-height: 40px;
		li {
			display: inline-block;
			color:#fff;
			margin: 0px 20px;
			a {
				color:#fff;
				padding:10px;
				font-size: @font-huge;
			}
		}
	}
	.logo {
		width: 200px;
		img {
			width: 100%;
		}
		a {
			.mp();
		}
	}
}
.icon-quotes {
	.b("../img/icon-quotes.png",no-repeat,center,center);
	background-size: contain;
	.wh(65px,58px);
	display: inline-block;
}

.info-text {
	position: relative;
	.mp();
	// .wh(90%);
	margin-top: 50px;
	padding-left:90px;
	color: #595959;
	h1 {
		font-size: 34px;
		line-height: 28px;
		span {
			font-size: 24px;
		}
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
	.icon-quotes {
		.tl();
	} 
}

.btn-default,.btn-normal {
	padding:15px 30px;
	background: #fc8e0e;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
}
.btn-normal {
	background: #b2b2b2;
}

@import "screen.less";